<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container text-center">
  <form id="search-books" class="form-inline">
    <input type="text" id="keyword" class="form-control">
    <input type="submit" class="btn btn-outline-dark" value="search">
  </form>
  <ul class="list-inline" id="results"></ul>
</div>

<script>

</script>
